<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hola</title>
</head>
<body>

                    {% if user.is_authenticated %}

					<div class="wrap-input100 validate-input" data-validate="Enter a new password">
						<input class="input100" type="password" name="New Password">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>

                    <div class="wrap-input100 validate-input" data-validate="Re-enter your new password">
						<input class="input100" type="password" name="Re-enter Password">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>

                    {% endif %}
</body>
</html>