
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
  <title>Aevolve AI -  Get editable text effortlessly</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static "img/favicon.png" %}" rel="icon">
  <link href="{% static "img/apple-touch-icon.png" %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static "vendor/aos/aos.css" %}" rel="stylesheet">
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet">
  <link href="{% static "vendor/glightbox/css/glightbox.min.css" %}" rel="stylesheet">
  <link href="{% static "vendor/swiper/swiper-bundle.min.css" %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static "css/style.css" %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NewBiz - v4.7.0
  * Template URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->


    </head>
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex justify-content-between">

      <div class="logo">
        <!-- Uncomment below if you prefer to use an text logo -->
        <!-- <h1><a href="index.html">NewBiz</a></h1> -->
        <a href=""><img src= "{% static "img/AI_logo.JPG" %}"  alt="" class="img-fluid"></a>
      </div>

        <nav id="navbar" class="navbar">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success btn-lg"
                    data-toggle="modal" data-target="#myModal" >Try now for FREE</button>
        <ul>
          <li><a class="nav-link scrollto active" href="">Home</a></li>
          <li><a class="nav-link scrollto" href="signup">REGISTER</a></li>
            <li><a class="nav-link scrollto" href="signin">SIGNIN</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
          <li class="dropdown"><a href="#"><span>About Us</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#why-us">Why Aevolve.ai?</a></li>
              <li class="dropdown"><a href="#contact"><span>Contact Us</span></a>
              </li>
              <li><a href="#team">Our Team</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- #header -->

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Insert text image</h4>
      </div>
      <div class="modal-body" >
              <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
   {{ form.as_p }}
    <p>
        <button type="submit">Upload</button>
  <!-- <input type="submit" value="Cancel" onclick="window.location.href='{% url 'testpage' %}';return false;"> -->


      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>

      </div>
            </form>
          </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="clearfix">
    <div class="container" data-aos="fade-up">

      <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="{% static "img/hero-img.svg" %}" alt="" class="img-fluid">
      </div>

      <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
        <h2>We provide<br><span>assistance</span><br>on your business duty!</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
          <a href="#services" class="btn-services scrollto">Our Services</a>
        </div>
      </div>

    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>About Us</h3>


          <p>Welcome to AevolveAI</p>

            <p>AI is demystifying the way we look at our world now. We at AevolveAI provides one of the AI application - high accuracy optical character recognition system, that will help the daily business users or any individuals to get on with their life without worrying about time.</p>
                <p>Starting as a small business in India 2021, we have big dreams. Our passion for AI, means that we provide our customers with
          nothing but the highest quality of products, that are guranteed to meet their needs and keep them satisfied.</p>

          <p> With motivated team, we strive to be the creative minds that bring smile to you face, That's why we're always looking
          for innovative new ways to get the best to you.</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
              AevolveAI, established by a software professional, focussing on providing AI solutions to solve daily business problems.
                AevolveAI provides businesses with services that will help automate their boring and laborious tasks and save lots of computational time.
                We provide unique services to each client in terms of AI need that will match their requirements.
                Our AI model is continuously evolving and will offer greater support in all business sectors going forward.
            </p>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Optical Character recognition</a></h4>
                <p class="description">Get the best accuracy editable text document from image without any manual typing(<b>Current Language Support:</b> English, other languages coming soon...).</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-brightness-high"></i></div>
              <h4 class="title"><a href="">Able to detect large paragraphs and camera clicks</a></h4>
              <p class="description">This OCR system works for both big sentence, paragraphs and random camera clicks. Supports multiple image formats(JPG, JPEG, PNG, etc.).</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              <h4 class="title"><a href="">Text to Microsoft Word document conversion</a></h4>
              <p class="description">You can download the text document into a word document as many as you want.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
            <img src="{% static "img/about-img.svg" %}" class="img-fluid" alt="">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="{% static "img/about-extra-1.svg" %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
            <h4>Journey of this startup company</h4>
            <p>
                Being a professional, I faced a lot of difficulties processing documents having image text in it.
                The manual typing takes lot of our valuable time. This made me realize that around the world almost everyone faces this issue
                and the solutions provided are limited.
            </p>
            <p>
                This lead me to a deeper investigations and came up with a solutions Artificial Intelligence has - Optical Character Recognition System.
                And since I am an AI practitioner, unraveling on this matter grown from time to time finding the best algorithms.

            </p>
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="{% static "img/about-extra-2.svg" %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right">
            <h4>What holds the future in Aevolve AI</h4>
            <p>
                Exploring the speech recognition system; will be able to translate speech from one language to another.
                Another one could be speech to text and vice-versa.


            </p>
            <p>
              Definitely will explore AI based security systems. Have lots of idea about facial recognition systems, and deep diving in GAN.
            </p>
            <p>
                <b>Here in Aevolve AI we evolve as time goes on.</b>
            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="section-bg">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>Services</h3>
          <p>We at Aevolve provide the best customer services in terms of quality of the product and customer support. </p>
        </header>

        <div class="row justify-content-center">
            <!--
          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>
          -->
        <style>
/* Services Section
--------------------------------*/
#services {
  padding: 60px 0 40px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}
#services .box {
  padding: 30px;
  position: relative;
  overflow: visible;
  border-radius: 32px;
  margin: 0 80px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
}
#services .box:hover {
  transform: translateY(-5px);
}
#services .icon {
  position: absolute;
  left: 10px;
  top: calc(50% - 32px);
}
#services .icon i {
  font-size: 64px;
  line-height: 0;
  transition: 0.5s;
}
#services .title {
  margin-left: 60px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
#services .title a {
  color: #111;
}
#services .box:hover .title a {
  color: #007bff;
}
#services .description {
  font-size: 14px;
  margin-left: 60px;
  line-height: 24px;
  margin-bottom: 0;
}

        </style>


          <div class="col-md-6 col-lg-5" data-aos="zoom-out" data-aos-delay="200">
            <div class="box" >

              <div class="icon"><i class="bi bi-card-checklist" style="color: #e9bf06;"></i>


              </div>
              <h4 class="title"><a href="">Language based OCR system</a></h4>
              <p class="description">Just upload the image/file and let the AI works for you.</p>
            </div>
          </div>
            <!--
          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="icon"><i class="bi bi-bar-chart" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <div class="icon"><i class="bi bi-binoculars" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="icon"><i class="bi bi-brightness-high" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <div class="icon"><i class="bi bi-calendar4-week" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
              <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>
          </div>
            -->
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h3>Why choose us?</h3>
          <p>A few good reasons...</p>
        </header>

        <div class="row row-eq-height justify-content-center">

          <div class="col-lg-4 mb-4">
            <div class="card" data-aos="zoom-in" data-aos-delay="100">
              <i class="bi bi-watch"></i>
              <div class="card-body">
                <h5 class="card-title">We Deliver</h5>
                <p class="card-text"><b>Because we'll save your time and energy.</b> Let our AI product do the tedious work for you. </p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card" data-aos="zoom-in" data-aos-delay="200">
              <i class="bi bi-person-workspace"></i>
              <div class="card-body">
                <h5 class="card-title">Mutual Feeling</h5>
                  <p class="card-text"><b>Because we've been there what you are going through and done it.</b> When you choose us, you'll feel the benefit of time saving.</p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card" data-aos="zoom-in" data-aos-delay="300">
              <i class="bi bi-person-badge"></i>
              <div class="card-body">
                <h5 class="card-title">Our Experience </h5>
                  <p class="card-text"><b>Because we know digital.</b> With working knowledge of online and offline, we can take your work to a whole new level. </p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

                      <div class="col-lg-4 mb-4">
            <div class="card" data-aos="zoom-in" data-aos-delay="300">
              <i class="bi bi-currency-exchange"></i>
              <div class="card-body">
                <h5 class="card-title">Low Cost</h5>
                  <p class="card-text"><b>Because we don't cost the earth.</b> We're not a big company and we know you want to keep a lid on costs. </p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

                      <div class="col-lg-4 mb-4">
            <div class="card" data-aos="zoom-in" data-aos-delay="300">
              <i class="bi bi-emoji-smile-fill"></i>
              <div class="card-body">
                <h5 class="card-title">Attitude</h5>
                  <p class="card-text"><b>Because we are easy to work with.</b> We take the work seriously, but not ourselves. We're not prickly, precious or pretentious. </p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

                      <div class="col-lg-4 mb-4">
            <div class="card" data-aos="zoom-in" data-aos-delay="300">
              <i class="bi bi-egg-fill"></i>
              <div class="card-body">
                <h5 class="card-title">We Care</h5>
                  <p class="card-text"><b>Because we foucs on results.</b> For us, it's all about what adds value for you and your business. Above all, we want our products to work for you. </p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

        </div>
<!--
        <div class="row counters" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="421" data-purecounter-duration="1" class="purecounter"></span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1364" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hard Workers</p>
          </div>
-->
        </div>

      </section>
    </div><!-- End Why Us Section -->

    <!-- ======= Portfolio Section ======= -->
  <!--
    <section id="portfolio" class="clearfix">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3 class="section-title">Our Portfolio</h3>
        </header>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static "img/portfolio/app1.jpg" %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">App 1</a></h4>
                <p>App</p>
                <div>
                  <a href="{% static "img/portfolio/app1.jpg" %}" data-gallery="portfolioGallery" title="App 1" class="portfolio-lightbox link-preview"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static "img/portfolio/web3.jpg" %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="{% static "img/portfolio/portfolio-details.html" %}">Web 3</a></h4>
                <p>Web</p>
                <div>
                  <a href="{% static "img/portfolio/web3.jpg" %}" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>
                  <a href="{% static "img/portfolio/portfolio-details.html" %}" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static "img/portfolio/app2.jpg" %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="{% static "img/portfolio/portfolio-details.html" %}">App 2</a></h4>
                <p>App</p>
                <div>
                  <a href="{% static "img/portfolio/app2.jpg" %}" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="App 2"><i class="bi bi-plus"></i></a>
                  <a href="{% static "img/portfolio/portfolio-details.html" %}" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static "img/portfolio/card2.jpg" %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="{% static "img/portfolio/portfolio-details.html" %}">Card 2</a></h4>
                <p>Card</p>
                <div>
                  <a href="{% static "img/portfolio/card2.jpg" %}" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Card 2"><i class="bi bi-plus"></i></a>
                  <a href="{% static "img/portfolio/portfolio-details.html" %}"class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static "img/portfolio/web2.jpg" %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="{% static "img/portfolio/portfolio-details.html" %}">Web 2</a></h4>
                <p>Web</p>
                <div>
                  <a href="{% static "img/portfolio/web2.jpg" %}" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Web 2"><i class="bi bi-plus"></i></a>
                  <a href="{% static "img/portfolio/portfolio-details.html" %}"class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static "img/portfolio/app3.jpg" %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="{% static "img/portfolio/portfolio-details.html" %}">App 3</a></h4>
                <p>App</p>
                <div>
                  <a href="{% static "img/portfolio/app3.jpg" %}" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="App 3"><i class="bi bi-plus"></i></a>
                  <a href="{% static "img/portfolio/portfolio-details.html" %}"class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static "img/portfolio/card1.jpg" %}"class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="{% static "img/portfolio/portfolio-details.html" %}">Card 1</a></h4>
                <p>Card</p>
                <div>
                  <a href="{% static "img/portfolio/card1.jpg" %}"class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Card 1"><i class="bi bi-plus"></i></a>
                  <a href="{% static "img/portfolio/portfolio-details.html" %}"class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static "img/portfolio/card3.jpg" %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="{% static "img/portfolio/portfolio-details.html" %}">Card 3</a></h4>
                <p>Card</p>
                <div>
                  <a href="{% static "img/portfolio/card3.jpg" %}" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Card 3"><i class="bi bi-plus"></i></a>
                  <a href="{% static "img/portfolio/portfolio-details.html" %}" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static "img/portfolio/web1.jpg" %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="{% static "img/portfolio/portfolio-details.html" %}">Web 1</a></h4>
                <p>Web</p>
                <div>
                  <a href="{% static "img/portfolio/web1.jpg" %}" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Web 1"><i class="bi bi-plus"></i></a>
                  <a href="{% static "img/portfolio/portfolio-details.html" %}"class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

      </section> End Portfolio Section -->



    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="section-bg">
      <div class="container" data-aso="zoom-in">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="{% static "img/testimonial-1.jpg" %}" class="testimonial-img" alt="">
                    <h3>Saul Goodman</h3>
                    <h4>Ceo &amp; Founder</h4>
                    <p>
                      Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="{% static "img/testimonial-2.jpg" %}" class="testimonial-img" alt="">
                    <h3>Sara Wilsson</h3>
                    <h4>Designer</h4>
                    <p>
                      Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="{% static "img/testimonial-3.jpg" %}" class="testimonial-img" alt="">
                    <h3>Jena Karlis</h3>
                    <h4>Store Owner</h4>
                    <p>
                      Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="{% static "img/testimonial-4.jpg" %}" class="testimonial-img" alt="">
                    <h3>Matt Brandon</h3>
                    <h4>Freelancer</h4>
                    <p>
                      Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="{% static "img/testimonial-5.jpg" %}" class="testimonial-img" alt="">
                    <h3>John Larson</h3>
                    <h4>Entrepreneur</h4>
                    <p>
                      Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    </p>
                  </div>
                </div><!-- End testimonial item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3>Team</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="100">
            <div class="member">
              <img src="{% static "img/team-1.jpg" %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Walter White</h4>
                  <span>Chief Executive Officer</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="200">
            <div class="member">
              <img src="{% static "img/team-2.jpg" %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sarah Jhonson</h4>
                  <span>Product Manager</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="300">
            <div class="member">
              <img src="{% static "img/team-3.jpg" %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-out" data-aos-delay="400">
            <div class="member">
              <img src="{% static "img/team-4.jpg" %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Clients Section =======
    <section id="clients" class="section-bg">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h3>Our CLients</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dere santome nida.</p>
        </div>

        <div class="row g-0 clients-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static "img/clients/client-1.png" %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static "img/clients/client-2.png" %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static "img/clients/client-3.png" %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static "img/clients/client-4.png" %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static "img/clients/client-5.png" %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static "img/clients/client-6.png" %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static "img/clients/client-7.png" %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="{% static "img/clients/client-8.png" %}" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section>End Clients Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
          <h3>Contact Us </h3>
        </div>



        <div class="row">

          <div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d23274.5813170799!2d86.
                41665345860785!3d23.35684198736207!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f689164689fe5d%3A0xbf1c21a3dab2d372!
                2sSamrat%20Xerox%20and%20Photocopy%20Shop!5e0!3m2!1sen!2sin!4v1638291513490!5m2!1sen!2sin"
                        frameborder="0" style="border:0; width: 100%; height: 340px;" allowfullscreen></iframe>
           <!--
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.
              7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center
              !5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 340px;" allowfullscreen></iframe>
              -->
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-5 info">
                <i class="bi bi-geo-alt"></i>
                <p>Dhurahi, Gengara, Purulia INDIA 723103</p>
              </div>
              <div class="col-md-4 info">
                <i class="bi bi-envelope"></i>
                <p>contactus@ocularai.co.in</p>
              </div>
              <div class="col-md-3 info">
                <i class="bi bi-phone"></i>
                <p>+91 7675914939   </p>
              </div>
            </div>

            <div class="form">
              <form action="contact" method="POST" role="form" >
                  {% csrf_token %}
                <div class="row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                  </div>
                  <div class="form-group col-lg-6 mt-3 mt-lg-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                  <!--
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                -->
              <br/>

                <div class="text-center"><button type="submit" class="btn btn-primary" title="Send Message">Send Message</button></div>
                 {%  if name %}
                  Thanks {{ name }}!</h2>
                  <p>We received your email and will respond shortly...</p>
                  {%  endif %}

                  <!-- <p id="demo"></p>
                  <div class="text-center"><button type="submit" title="Send Message"
                                                   onclick="getElementById('demo')
                                                   .innerHTML='{{ name }}, Your message has been sent.'">Send Message
                      </button>
                  </div>
                    -->
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->




  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
          <br/>
              <br/>
              <br/>
              <br/>
              <br/>
               <h3>AEVOLVEAI</h3>
            <!--<p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
          -->
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="#about">About us</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Dhurahi <br>
              Gengara, Purulia 723103<br>
                INDIA<br>
              <strong>Phone:</strong> +91 7675914939<br>
              <strong>Email:</strong> contactus@ocularai.co.in<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <!--<a href="#" class="facebook"><i class="bi bi-facebook"></i></a>-->
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Stay updated by subscribing to our newsletter for latest product release and much more...</p>

            <!--<input type="submit" value="Subscribe">-->
             <form action="" method="post">
                 {% csrf_token %}
              <input type="email" name="email"><input type="submit" value="Subscribe">


            <!--<input class="btn btn-info bth-block" type = "submit" value = "Subscribe">-->

                {% for message in messages %}
                    <div class = "alert alert-success">
                    {{ message }}
                    </div>
                {% endfor %}


            </form>




          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright 2021 <strong>AevolveAI</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
      -->
        <!--Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static "vendor/purecounter/purecounter.js" %}"></script>
  <script src="{% static "vendor/aos/aos.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "vendor/glightbox/js/glightbox.min.js" %}"></script>
  <script src="{% static "vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
  <script src="{% static "vendor/swiper/swiper-bundle.min.js" %}"></script>
  <script src="{% static "vendor/php-email-form/validate.js" %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static "js/main.js" %}" ></script>

</body>
</html>