{% load crispy_forms_filters %}
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<title>Free Run</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static "register_staticfiles/images/icons/favicon.ico" %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "register_staticfiles/vendor/bootstrap/css/bootstrap.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "register_staticfiles/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "register_staticfiles/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "register_staticfiles/fonts/iconic/css/material-design-iconic-font.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "register_staticfiles/vendor/animate/animate.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "register_staticfiles/vendor/css-hamburgers/hamburgers.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "register_staticfiles/vendor/animsition/css/animsition.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "register_staticfiles/vendor/select2/select2.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "register_staticfiles/vendor/daterangepicker/daterangepicker.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "register_staticfiles/css/util.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "register_staticfiles/css/main.css" %}">
<!--===============================================================================================-->
<!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static "vendor/aos/aos.css" %}" rel="stylesheet">
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet">
  <link href="{% static "vendor/glightbox/css/glightbox.min.css" %}" rel="stylesheet">
  <link href="{% static "vendor/swiper/swiper-bundle.min.css" %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static "css/style.css"%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NewBiz - v4.7.0
  * Template URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

 <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--Bootstrap CSS-->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
#example1 {
  border: 2px solid black;
  padding: 25px;
  background: url('staticfiles/ocr_background/ocr_background2.jpg') no-repeat center center fixed;
     background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}

#example2 {
  border: 2px solid black;
  padding: 500px;
  background: url('staticfiles/ocr_background/ocr_background_2.jpg') no-repeat center center fixed;
  background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
</style>
</head>



<body>

<h2>background-size: auto (default):</h2>
<div id="example2">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <!-- Uncomment below if you prefer to use an text logo -->
        <!-- <h1><a href="index.html">NewBiz</a></h1> -->
        <a href=""><img src= "{% static "img/AI_logo.JPG" %}" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
            {% if user.is_authenticated %}

                <li class="dropdown"><a href="welcome">{{ user.username }}
                    <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="user_reset_password">Reset Password</a></li>
            <li class="dropdown"><a href="signout"><span>Signout</span></a>
              </li>
            </ul>
        </ul>
            <li class="dropdown"><a href="ocr_homepage"><span>OCR Homepage</span></a>
                <li class="dropdown"><a href="upload_res_image"><span>Image Resolution</span></a>
            {% else %}
                You are not logged in!
                <a href="{% url 'signin' %}">SIGNIN</a>
                {% endif %}

        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- #header -->

  <br/>
  <br/>
  <br/>
  <br/>
<!--
  <form method="post" enctype="multipart/form-data">



   {{ form|crispy }}


  <button type="submit">Upload</button>
  <input type="submit" value="Cancel" onclick="window.location.href='{% url 'home' %}';return false;">
</form>

{% if img_obj %}
  <h3>Successfully uploaded : {{img_obj.title}}</h3>
  <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
<h3>
{% else %}

<h3> Image Not uploaded</h3>

</h3>
{% endif %}
-->

                             {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            <strong>Message:</strong> {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            {% endfor %}

{% if user.is_authenticated %}
    <div class="container-fluid pt-3 p-b-7">
    <h2>Upload Image</h2>
  <form method="POST" enctype="multipart/form-data" >
   {% csrf_token %}
               <div class="row">
            <div class="col-lg-6 col-md-12">
              {{form.title}}
            </div>
            <div class="col-lg-6 col-md-12">
              {{form.image}}
            </div>
          </div>
    <p>
        <button type="submit" href="{% url 'welcome' %}" class="btn btn-primary">Upload
            </button>
    </p>
    </form>
    {% endif %}

{% if img_obj and user.is_authenticated %}
  <h3>Successfully uploaded : {{img_obj.title}}</h3>
  <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">



    <tbody>
            <a href="{{ img_obj.image.url }}" class="btn btn-primary btn-sm" target="_blank">
              Download File
            </a>


    </tbody>

 {% endif %}
    </div>
</div>
    <!-- Optional Javascript -->
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>